html {
  overflow-y: scroll;
  max-width: 800px;
  min-width: 650px;
  width: 60%;
  margin: 0 auto;
  height: 100%;

}

div.block {
	position: relative;
	font-family: Tahoma, sans-serif;
	background-color:#9999FF;
	background: -webkit-linear-gradient(top,#BBBBFF,#9999FF);
	    width: 600px;
}
body, input { 
	font-family: Tahoma, Arial, sans-serif;
	font-size: 90%;
}
body, select { 
	font-family: Tahoma, Arial, sans-serif;
	font-size: 90%;
}
body {
	font-family: Tahoma, Arial, sans-serif;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

div.myform {
	margin-left: auto;
    margin-right: auto;
    width: 600 px;
	font-family: Tahoma, Arial, sans-serif;
}
div.header {
	position:relative; /* С‚Р°РєРёРµ СЌР»РµРјРµРЅС‚С‹ РјРѕРіСѓС‚ РїРµСЂРµРєСЂС‹РІР°С‚СЊ РґСЂСѓРіРёРµ СЌР»РµРјРµРЅС‚С‹. Р”Р»СЏ СЃРјРµС‰РµРЅРёСЏ РѕС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕ РёСЃС…РѕРґРЅРѕР№ РїРѕР·РёС†РёРё РёСЃРїРѕР»СЊР·СѓСЋС‚СЃСЏ СЃРІРѕР№СЃС‚РІР° margin*/
	border-radius: 6px;
	left: 50 px;
    width: 220px;
	/*background: -webkit-linear-gradient(top,#BBBBFF,#9999FF);  #BBBBFF,#9999FF*/
	-moz-box-shadow: 0px 6px 10px -7px #276873;
	-webkit-box-shadow: 0px 6px 10px -7px #276873;
	box-shadow: 0px 6px 10px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A0CBDB), color-stop(1, #82B6BF));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #A0CBDB 5%, #82B6BF 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #A0CBDB 5%, #82B6BF 100%);
	/*border: 1.5px solid #82B6BF; */

    padding: 10px;
    margin-left: 1.5%;
	margin-bottom: -35px;
	z-index: 1;
	font-size: 130%;
	font-family: Tahoma, sans-serif;
}
div.panel {
	line-height: normal;
	width: 600 px;
	border-radius: 4px;
	overflow:hidden;  /* Р�РіРЅРѕСЂРёСЂСѓРµС‚ РѕР±С‚РµРєР°РµРјРѕСЃС‚СЊ СЌР»РµРјРµРЅС‚РѕРІ. Р’ РґР°РЅРЅРѕРј СЃР»СѓС‡Р°Рµ РїР°РЅРµР»СЊ СЂР°СЃС€РёСЂСЏРµС‚СЃСЏ, С‡С‚РѕР±С‹ РІРјРµСЃС‚РёС‚СЊ РІ СЃРµР±СЏ РІРµСЃСЊ РѕР±С‚РµРєР°РµРјС‹Р№ СЌР»РµРјРµРЅС‚*/
	background-color:#B8D7E3; /*CCCCFF*/
	
    padding: 1.5%;
	padding-top: 50px;
	z-index: 0; /* Р•СЃР»Рё СЌР»РµРјРµРЅС‚С‹ РїРµСЂРµРєСЂС‹РІР°СЋС‚СЃСЏ, СЌС‚РѕС‚ СЌР»РµРјРµРЅС‚ Р±СѓРґРµС‚ СЂР°СЃРїРѕР»Р°РіР°С‚СЊСЃСЏ РїРѕРґ С‚РµРјРё, Сѓ РєРѕРіРѕ z-index Р±РѕР»СЊС€Рµ*/
    margin: 0px;
	font-family: Tahoma, sans-serif;

}

div.central-panel {
	margin-left: auto;
    margin-right: auto;
    width: 600 px;
    font-size: 120%;
    font-family: Tahoma, Arial, sans-serif;
}

.myButton {
	-moz-box-shadow: 0px 6px 10px -7px #276873;
	-webkit-box-shadow: 0px 6px 10px -7px #276873;
	box-shadow: 0px 6px 10px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

div.column{
	float: left; /* РћР±С‚РµРєР°РЅРёРµ РїРѕ РїСЂР°РІРѕРјСѓ РєСЂР°СЋ. Р­Р»РµРјРµРЅС‚, СЃР»РµРґСѓСЋС‰РёР№ Р·Р° СЌС‚РёРј, Р±СѓРґРµС‚ СЂР°СЃРїРѕР»Р°РіР°С‚СЊСЃСЏ РЅРµ СЃРЅРёР·Сѓ, Р° СЃРїСЂР°РІР° */
	padding-right: 50px;
	font-family: Tahoma, sans-serif;
}

div.citation {
	font-size: 70%;

}



.menu {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: #599bb3;

    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

}

.menu li {
     display: inline-block; 
   

}



a:visited {
    display: inline-block;
    font-weight: bold;
    color: #900060;
    padding: 10px;
    text-decoration: none;

   
    
}

.menu  a:link {
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    
}

.menu  a:visited {
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    
}

.menu a:hover, a:active {
    background-color: #3291AB;
}



div.error{
	padding: 1.5%;
	color: red;
}

table.options{
	font-family: Tahoma, sans-serif;
}
table.options td {
	padding: 10px;
	padding-left: 0px;
}

table.fileTable {
	background-color:#C7E3ED; /*BBBBFF*/
	border-radius: 6px;
}

table.fileTable  td {
	padding: 10px;
	text-align: left;
	font-size: 100%
}

table.fileTable  th {
	padding: 10px;
	text-align: left;
	font-size: 100%;
}


вЂ‹div.mytooltip {
	border:1px solid #FF00FF;
	 max-width: 300px !important;
}вЂ‹

.wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height. Top - 0, right and left - auto, bottom - -60 px */
    margin: 0 auto -60px; 
}

div.push {
	height: 60px;
}

div.footer {
	font-size: 70%;
	color: gray;
	height: 60px;
	text-align: center;
	  
	background-color: #599bb3;
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


  